@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
     Layout = "_Layout";
    ViewBag.Title = "Diagnostiquer";
}
@model Tp2_Server.Models.Diagnostic
<div class="d-inline">
    <h1 class="bg-info border d-flex aligns-items-center">vous utilisez un Knn de @ViewBag.Knn.k && @ViewBag.Knn.distance d'un resultat de @ViewBag.Resultat % </h1>
    <form asp-action="Diagnostic">
        <div asp-validation-summary="All" class="text-danger"></div>
                
           <div class="d-flex flex-row"> 
               <div class="col-6">
                <select asp-for="PID" class="form-select mb-3 me-5 mt-3 col" aria-label="Default select example">
                    <option value="">Selectionnez Patient</option>
                    @if(ViewBag.Patients is not null){
                    @foreach(var patient in ViewBag.Patients)
                    {
                        <option value="@patient.PatientId">@patient.Nom  @patient.Prenom</option>
                    }}
                </select>
                </div>
                <div class="col-2">
                    <a class="btn btn-primary m-3 me-0" href="~/Home/AjoutPatient">Ajouter un patient</a>
                </div>
                <div class="col">
                    <input class="btn btn-primary ms-0 m-3"  value="Information" type="submit"  name="submit"/>
                </div>
            </div>
        <div class="d-flex flex-row">    
        <div class="col-6">
                <label asp-for="thal" class="mb-3 me-5 mt-4 col"></label> 
            </div>
           <div class="col">
        <select asp-for="thal" class="form-select mb-3 me-5 mt-3 col" aria-label="Default select example">
            <option selected value="">Selectionnez : </option>
            <option value="1">Normale</option>
            <option value="2">Défaut corrigé</option>
            <option value="3">Défaut réversible</option>

        </select>
         </div>
        </div>
        <div class="d-flex flex-row">    
        <div class="col-6">
                <label asp-for="cp" class="mb-3 me-5 mt-4 col"></label> 
            </div>
        <div class="col">
        <select asp-for="cp" class="form-select mb-3 me-5 mt-3 col-sm" aria-label="Default select example">
            <option selected value="">Selectionnez : </option>
            <option value="0">Angine typique</option>
            <option value="1">Angine atypique</option>
            <option value="2">Douleur non angineuse</option>
            <option value="3">Asymptomatique</option>
        </select>
         </div>
        </div>
        <div class="form-floating mb-3 mt-3">
              <input  class="form-control" asp-for="oldpeak" placeholder="Enter password confirmation" >
              <label asp-for="oldpeak"></label>
              <span asp-validation-for="oldpeak" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3 mt-3">
              <input  class="form-control" asp-for="ca" placeholder="Enter password confirmation" >
              <label asp-for="ca"></label>
              <span asp-validation-for="ca" class="text-danger"></span>
        </div>
        <input asp-for="k" type="hidden"/>
        <input asp-for="distance" type="hidden"/>
    <input type="submit" class="btn btn-primary my-3" value="Diagnostiquer" name="submit"/>
    @*<input type="submit" class="btn btn-primary" value="Information" name="Information"/>*@

    </form>
    
    <a class="btn btn-primary " href="~/Home/Configurer">Retour</a>

</div>